.contenedor{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
    "A A"
    "B C"
    "D D";
    gap: 5px;
}
.contenedor-div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.a{
    grid-area: A;
}
.b{
    grid-area: B;
}
.c{
    grid-area: C;
}
.d{
    grid-area: D;
}